/Algae.class
/AlgaephobicCritter.class
/Craig.class
/Critter$CritterShape.class
/Critter$TestCritter.class
/Critter.class
/InvalidCritterException.class
/Main.class
/Params.class
/TragicCritter.class
/Critter1.class
/Critter2.class
/Critter3.class
/Critter4.class
/Main$1.class
/Main$2.class
/Main$3.class
/Main$4.class
